@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto-ExBold';
    src: url('../../fonts/Roboto-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Roboto-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
