.container {
    max-width: 1440px;
    margin: 0 auto;
}
.body {
    color: var(--Blue-gray-600);
    background-color: var(--White);
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 1.6;
}