.hero {
    margin-bottom: 80px;
}

.hero__inner {
    color: #fff;
    display: flex;
    gap: 80px;
    background-image: url('../../images/hero.png');
    background-size: cover;
    border-radius: 30px;
    padding: 80px;
    justify-content: flex-end;
    min-height: 496px;
}

.hero__content {
    max-width: 520px;
}

.hero__title {
    min-height: 124px;
    line-height: 1.1;
    font-size: 53px;
    font-weight: 700;
}

.hero__text {
    margin: 24px 0px;
}