.hero {
    margin-bottom: 80px;
}

.hero__inner {
    color: #fff;
    display: flex;
    gap: 80px;
    background-image: url('../../images/hero.png');
    background-size: cover;
    border-radius: 30px;
    padding: 80px;
    justify-content: flex-end;
    min-height: 496px;
    background-position: center;
}

.hero__content {
    max-width: 520px;
}

.hero__title {
    font-family: var(--second-family);
    min-height: 124px;
    line-height: 1.1;
    font-size: 56px;
    font-weight: 800;
    @media (max-width: 1200px) {
        font-size: 52px;
    }
}

.hero__text {
    margin: 24px 0px;
}