.project {
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid var(--Blue-gray-200);
}

.project__inner {
    font-family: var(--font-family);
    color: var(--blue-gray-900);
    justify-content: space-between;
    display: flex;
    gap: 80px;
    flex-direction: row-reverse;
    align-items: center;
}

.project__content {
    max-width: 600px;
}

.project__title {
    font-weight: 800;
    font-size: 72px;
    color: var(--Blue-gray-900);
    margin: 24px 0px 0px 0px;
}

.project__text {
    color: var(--Blue-gray-600);
    margin: 24px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;

}

.project__button {
    display: flex;
    gap: 16px;
    border-radius: 20px;
    font-size: 16px;
    max-width: 600px;
}
.project__button input {
    font-size: 16px;
    min-width: 408px;
    border-radius: 8px;
    padding: 13px 16px;
    border: 1px solid var(--Blue-gray-600);
}