.reverse {
    margin-bottom: 160px;
}

.reverse__inner {
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: left;
    }
}

.reverse__inner-tools {
    justify-content: space-between;
    display: flex;
    gap: 128px;
    flex-direction: row-reverse;
    align-items: center;

    @media (max-width: 1200px) {
        flex-direction: column;
        text-align: left;
    }
}


.reverse__content {
    max-width: 600px;
}

.reverse__content-tools {
    max-width: 660px;
}

.reverse__title {
    font-family: var(--second-family);
    color: var(--Blue-gray-900);
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 24px;

    @media (max-width: 1200px) {
        font-size: 52px;
    }
}

.reverse__text {
    margin-bottom: 24px;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

.reverse__text-tools {
    margin-bottom: 36px;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}