.tools {
    margin-bottom: 160px;
}

.tools__inner {
    font-family: var(--font-family);
    justify-content: space-between;
    display: flex;
    gap: 128px;
    flex-direction: row-reverse;
    background-image: url('/images/backTrail.png');
    align-items: center;
}

.tools__content {
    max-width: 660px;
}
.tools__title {
    margin: 24px 0px;
    font-size: 56px;
    line-height: 1.1;
}

.tools__text {
    color: var(--Blue-gray-600);
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 1.6;
}