.working {
    margin-bottom: 160px;
}

.working__inner {
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.working__content {
    max-width: 600px;
}

.working__title {
    color: var(--Blue-gray-900);
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 24px;
}

.working__text {
    margin-bottom: 24px;
}