.btn {
    display: flex;
    gap: 21px;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background: var(--Blue-600);
    border: 2px solid var(--Blue-600);
    max-width: max-content;
    padding: 12px;
    border-radius: 8px;
    align-items: center;
}