.header {
    margin-bottom: 80px;
    padding: 24px 0;
}

.header__inner {
    border-bottom: 1px solid var(--Blue-gray-200);
    padding-bottom: 24px;
    color: var(--Blue-gray-900);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 32px;
    line-height: 1.1;
    font-weight: 700;
}

.header__list {
    display: flex;
    gap: 8px;
    font-weight: 500;
}

.header__link {
    padding: 12px;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
}